body {
    margin: 0;
    padding: 0;
}

.flashes h4 {
    line-height: 2;
}

.image {
    width: 50pc;
    height: 50pc;
    margin: 0 auto;
    background-size: cover;
}

.parallax-container {
    height: "600px";
}

#heading {
    font-size: 5.2rem;
    line-height: 310%;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.text {
    width: 80%;
}

.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}