{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add New Recipe</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <form class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Recipe Name</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Category</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Ingredients</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Description</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Insert image src</label>
                        <!--Add pop up telling what src is-->
                    </div>
                </div>
            </form>
        </div>
    </form>
</div>

{% endblock %}