{% extends "base.html" %}
{% block content %}

<!-- Start Parallax  -->
<div class="parallax-container fullscreen">
    <h1 class="center-align lighten-2" id="heading">Cooking-It</h1>
    <div class="parallax"><img
            src="https://images.unsplash.com/photo-1621494547944-5ddbc84514b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80"
            class="responsive-img s12" alt="Parallax">
    </div>
</div>
<div class="section white">
    <div class="row container center-align text">
        <h3 class="header">A place to have fun cooking</h3>
        <p class="grey-text text-darken-3 lighten-3">We proudly present Cooking-It! The website that is here to inspire,
            create joy and find people who share the same interest in food that so many have. </p>
    </div>
    <div class="row container center-align text">
        <h4 class="light">Our Story</h4>
        <p align="justify">
            We exist to create community among several individuals, who in our opinion start already during the start
            of the pandemic when the need for something to do in connection with others without meeting physically grew
            strong. Cooking then became more of a interest and many therefore turned to a lot of different sites to find
            inspiration for what to cook for the day.
            That's why we came up with the idea of creating a platform that holds several recipes and that makes it even
            easier for applicants. Making it no longer a necessity to jump from website to website, as
            this website has already sampled a lot of recipes for you.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="./static/images/food.jpg" class="responsive-img" alt="Parallax"></div>
</div>
<div class="row container center-align text">
    <h4 class="light">How it works</h4>
    <p align="justify">
        You must start by creating an account or logging in directly to your existing account in order to use the site
        to its
        full potential. With just a few simple steps, you can create your account and we promise that it will not take
        more than a few minutes before you get started. Click the buttons below to create an account or proceed by
        following the menu at the top of the page. Furthermore, you can then find recipes that are already on the page
        or add your own recipes that you already have and can think of sharing with others. Again, follow the menu at
        the top of the page to find your way around the website. For further information about how the website works,
        scroll down the page and you will also find a video that gives a detailed tour.
    </p>
    <p align="justify">
        <h4 class="light">Register Now</h4>
        <a class="waves-effect waves-light btn-large" href="{{ url_for('register')}}">Register</a>
    </p>
</div>
<div class="parallax-container fullscreen">
    <div class="parallax"><img src="./static/images/bild3.jpg" class="responsive-img" alt="Parallax">
    </div>
</div>
<div class="row container center-align text">
    <h4 class="light">What You Get</h4>
    <p align="justify">
        When you create an account on Cooking-It, your own profile is included, which collects all your recipes you have
        posted. It provides the ability to edit all your recipes and or delete them. You will have access to other
        people's recipes that are on the website and also a chance to post a review of the recipe you tried by someone
        else. Furthermore, you can also make sure to heart the recipes you like so that when there is time you have the
        opportunity to find in your profile the recipes you liked/heart and later try them without them disappearing. In
        addition to all this, you can also use the search function located at the top of the recipe page, which makes it
        easy for you to search for recipes based on category or other things. Everything mentioned above is free for all
        and you can be safe knowing that if ever a cost would be needed for anything, clear information about this will
        be provided and nothing will ever be forced to pay, only offered for either support or purchases one would like
        to do. </p>
    <h4 class="light">Video of how the website works</h4>
    <div class="video-container" align="justify">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0"
            allowfullscreen></iframe>
    </div>
    <br>
</div>
<!-- End Parallax  -->
{% endblock %}