{% extends "base.html" %}
{% block content %}

<!-- Parallax header -->
<div class="parallax-container fullscreen">
        <div class="parallax"><img src="{{ recipe.recipe_image }}" class="responsive-img s12" alt="Parallax">
        </div>
</div>
<h1 class="tex">{{ recipe.recipe_name }}</h1>
<p>Category: {{ recipe.category_name }}</p>
<h4>Ingredients</h4>
<p>{{ recipe.recipe_ingredients }}</p>
<h4>Description</h4>
<p>{{ recipe.recipe_description }}</p>
<br>
<p>Created by: {{ recipe.created_by }}
        <a href="{{ url_for('get_recipe') }}" class="btn-large red text-shadow">Cancel</a>

        {% endblock %}