{% extends "base.html" %}
{% block content %}
<h1 class="center-align">Register Form</h1><br><br>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person_add</i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- register -->
            <div class="center-align row">
                <button type="submit" class=" btn-large teal darken-3 text-shadow">
                    Register Now
                </button>
            </div>
        </div>
    </form>
</div>
<!-- link to login -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already have a account?
            <a href="{{ url_for('login')}}" class="light-blue-text text-darken-4">Log In Here</a>
        </p>
    </div>
</div>
<br><br>


{% endblock %}